.movie-container ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }
  
  .movie-container ul li {
    list-style: none;
    flex: 0 0 33.333333%;
  }

body{
  background-color:white;
}